{% extends 'base.html' %}

{% block main_content %}
     <div class="container">
    <h1>Delete Profile</h1>
         <p>На път си да изтриеш профил: {{ profile.email }}</p>
         <p>{{ profile.user.first_name }}</p>
         <p>{{ profile.user.last_name }}</p>
         <p>{{ profile.user.farm_name }}</p>
        <p>с {{ profile.user.products.count }} качени продукта за продажба?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</div>


{% endblock %}