{% extends 'base.html' %}
{% load static %}

  {% block style %}
<style>
    body {
        background-image: url("{% static 'images/shoppingmesh.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.9);
        min-height: 100vh;
        position: relative;
    }
        .container {
            max-width: 600px;

        }
        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }

        .form-group label {
            font-weight: bold;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            transition: border-color 0.3s;
        }
        .form-group input:focus {
            border-color: #007bff;
        }


        </style>
 {% endblock %}

    {% block main_content %}
    <div class="container">
    <div class="form-container">
        <h2>Нов потребител</h2>
       <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_content">Email:</label>
                {{ form.email }}
            </div>

           <div class="form-group">
                <label for="id_content">Собствено име:</label>
                {{ form.first_name }}
            </div>

           <div class="form-group">
                <label for="id_content">Фамилно име:</label>
                {{ form.last_name }}
            </div>

           <div class="form-group">
                <label for="id_content">Име на фирма/ферма:</label>
                {{ form.name_farm }}
            </div>

           <div class="form-group">
                <label for="id_content">Парола:</label>
                {{ form.password1 }}
            </div>

           <div class="form-group">
                <label for="id_content">Повтори парола:</label>
                {{ form.password2 }}
            </div>

    <button type="submit" class="btn btn-primary">Създай</button>
</form>
         <div class="second-option">

            <!-- Link to Login Page -->
            <p>Вече си наш потребител? <a href="{% url 'login user' %}">Влез в профил</a></p>
        </div>
    </div>
</div>

    <!-- End Register Section -->
{% endblock %}


</body>
</html>