{% extends 'base.html' %}
{% block main_content %}
{% load static %}

<div class="container mt-5">
    {% if product.user == request.user %}
        <hr>
        <form action="{% url 'edit product' product.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?')">Delete Product</button>
        </form>

    {% endif %}
</div>

<div class="container">
     <div class="form-container">
         <h1>Промени продукт</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="id_content">Име:</label>
                {{ form.name }}
    </div>
    <div class="form-group">
        <label for="id_content">Описание:</label>
                {{ form.description }}
    </div>
    <div class="form-group">
                <label for="id_content">Снимка:</label>
                {{ form.product_image }}
    </div>
    <div class="form-group">
                <label for="id_content">Цена:</label>
                {{ form.price }}
    </div>

    {% csrf_token %}
    <button type="submit">Обнови</button>
</form>
     </div>
     </div>

{% endblock %}