{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="container mt-5">

    {% if product.user == request.user %}
    <hr>
        <a href="{% url 'delete product' product.id %}" type="submit" class="btn btn-danger">Delete Product</a>
        <a href="{% url 'edit product' product.id %}" type="submit" class="btn btn-warning">Edit Product</a>

    {% endif %}
</div>
<div class="container">

        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.product_image }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                {% if request.user.name_farm == product.user.name_farm %}
                    <p>Added by: Me </p>
                {% else %}
                    <p>Added by: {{ product.user.name_farm }}</p>
                {% endif %}
                <!-- Add more details as needed -->
            </div>
        </div>
    </div>
    <div class="comments">
                {% for comment in object.productcomment_set.all %}
                    <div class="top">
                        <div class="userDetails">
                            <div class="comment-data">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="{% static 'images/person.png' %}" alt="img8">
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <!-- User Comment -->
                                     {{ comment.text }}
                                </p>
                            </div>
                            <span>{{ comment.created_at }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
    
{% endblock %}