{% extends 'base.html' %}
{% load static %}
{% block main_content %}

    <div class="container-aboutus">
    <h1 class="section-title-aboutus">За нас...</h1>
    <div class="section-content-aboutus">
        <p>Добре дошли в българската Свежа мрежа! Мрежа за обмен на опит, знания и продукти от български малки и средни производители.
            Нашата мисия е да свържем произвдоител и потребител, както във виртуалното пространство така
            и на живо. Вярваме, че българският производител заслужава да бъде известен и повече потребители да имат
        достъп до продуктите му.</p>
        <p>Тук може да откриете списък с продукти, да се свържете с техните производители да поръчате. От пресни зеленчуци и домати
            до прясно изпечен домашен хляб. Разнообразието зависи от Вас!</p>
        <p>Всеки потребител на платформата може предложи собствено производство, с което се гордее. </p>
        <p>Станете част от нас! Бъдете в крак с новостите в сферата на земеделието и  бъдете част от семинарите, които организираме
        заедно с нашите потребители-партньори.</p>
    </div>
    <div class="container">
    <h1 class="section-title">Нашите цели</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="goal-card">
                <img src="{% static 'images/aboutuskid.png' %}" class="goal-image" alt="Promote Sustainable Agriculture">
                <h2 class="goal-title">Да подкрепяме българския производител</h2>
                <p class="goal-description">Вярваме, че българската земя е една от най-плодородните, а българите носят
                    в себе си любовта, вниманието и традийиите в отглеждането на дарове от природата!</p>
        </div>
        </div>
        <div class="col-md-4">
            <div class="goal-card">
                <img src="{% static 'images/localfarmmarket.png' %}" class="goal-image" alt="Support Local Farmers">
                <h2 class="goal-title">Да направим достъпна домашно приготвената/отгледаната храна </h2>
                <p class="goal-description">В забързаното ежедневие, често не остава време да отделим внимание на
                местата и хората, от които пазаруваме. Лесно, онлайн и бързо може да се пренесете "на пазара".</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="goal-card">
                <img src="{% static 'images/beekeper.png' %}" class="goal-image" alt="Foster Community Engagement">
                <h2 class="goal-title">Да дадем възможност за учене, опитване и цялостно изживяване</h2>
                <p class="goal-description">
                    Редовни семинари с практическа насоченост за малки и големи. Какво по-хубаво от това да
                се запознаеш от близо с дейността на любимите ти производители, да почерпиш знание
                и да засилиш връзката си с природата.</p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}