{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<style>
body {
    background-image: url("{% static 'images/shoppingmesh.png' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100vh;
    position: relative;
}
</style>
<div class="container">
    <div class="form-container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <h2>Свържи се с нас</h2>
                <p><strong>Owner:</strong> Мария-Йоана Маринова</p>
                <p><strong>Email:</strong> <a href="mailto:{{ user.email }}">miyamarinova@gmail.com</a></p>
                <p><strong>Phone:</strong> +1 (123) 456-789</p>
                <p><strong>Address:</strong> 123 Нашата улица, Нашият град, България</p>

                {% if email_sent %}
                <div class="alert alert-success" role="alert">
                    Благодарим ти за съобщението! Ще се свържем с в най-кратък срок! До скоро!
                </div>


                {% endif %}


            </div>
        </div>
    </div>
</div>
{% endblock %}
