{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="container">
      {% if user.is_authenticated and user.is_superuser %}
            <div class="personal">
    <a href="{% url 'edit event' pk=event.pk %}">
            <img class="edit-img"
                  src="{% static 'images/pen-solid.svg' %}"
                  alt="edit button"/>
                   </a>

        <a href="">
                <img class="bin-img"
                  src="{% static 'images/trash-solid.svg' %}"
                  alt="edit button"/>
        </a>
</div>
      {% endif %}
<div class="card">
    <h1>{{ event.event_name }}</h1>
    <img class="card-img-top" src="{{ event.event_image }}" alt="Article Image">
    <h3>Кога: {{ event.date_of_event }}</h3>
    <h3>Къде: {{ event.location }}</h3>

    <p>{{ event.details }}</p>
    <h5><strong>Цена за участие: {{ event.registration_fee }} лв</strong></h5>
</div>
    </div>
    <a href="{% url 'all events' %}" class="btn btn-secondary mt-4">Към всички събития</a>

{% endblock %}